In [1]:
import pandas as pd
import numpy as np

In [2]:
courses=pd.read_excel('Course Dataset.xlsx',sheet_name=1)
rating=pd.read_excel('Course Dataset.xlsx',sheet_name=2)

In [3]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   S.No                      891 non-null    int64
 1   course_title              891 non-null    object
 2   course_organization       891 non-null    object
 3   course_Certificate_type   888 non-null    object
 4   course_rating             881 non-null    float64
 5   course_difficulty         891 non-null    object
 6   course_students_enrolled  891 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 48.9+ KB

In [9]:
courses.duplicated().sum()

0

In [21]:
courses['course_Certificate_type'].nunique()

11

In [20]:
courses['course_Certificate_type'].str.upper().nunique()

9

In [22]:
print(courses['course_Certificate_type'].nunique())
print(courses['course_Certificate_type'].str.upper().nunique())

11
9

In [23]:
print(courses['course_difficulty'].nunique())
print(courses['course_difficulty'].str.upper().nunique())

4
4

In [25]:
courses[courses['course_Certificate_type'].isna()]

,S.No,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
79,80,Basic Statistics,University of Amsterdam,NaN,4.6,Beginner,180k
105,106,Building Conversational Experiences with Dialo...,Google Cloud,NaN,4.5,Beginner,22k
127,128,Camino a la Excelencia en Gestión de Proyectos,Pontificia Universidad Católica de Chile,NaN,4.7,Beginner,340k

In [28]:
courses['course_Certificate_type'].str.upper().value_counts()

COURSE                       578
SPECIALIZATION               293
PROFESSIONAL CERTIFICATE       7
SPECIALIZATOIN                 2
SPCEIALIZATION                 2
PROFESSION CERTIFICATE         2
PROFESSIOAL CERTIFICATE        2
PROFESSIONAL  CERTIFICATE      1
COU RSE                        1
Name: course_Certificate_type, dtype: int64

In [29]:
courses[courses['course_rating']>5]

,S.No,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
53,54,Antimicrobial resistance - theory and methods,Technical University of Denmark (DTU),COURSE,9.0,Intermediate,63k
92,93,Biostatistics in Public Health,Johns Hopkins University,SPECIALIZATION,10.0,Beginner,14k
120,121,Business Writing,University of Colorado Boulder,course,12.0,Beginner,48k
620,621,Nanotechnology: A Maker’s Course,Duke University,COURSE,6.1,Mixed,21k